{% extends 'base.html' %}

{% block content %}

<section id="register" class="site_content">
    <div class="container">
        <div class="row">
            <div class="dashboard">
                <p>Hey {{request.user.first_name}}!</p>
                <p>You are logged in.</p>
                <h1>Your comments:</h1>

                {% comment %} User Comments {% endcomment %}

                <ul class="media-list comments_list col-md-12">
                
                {% for comment in comments %}
                    <li class="comment byuser even thread-even depth-1 media the_comment" id="">
                    <div class="pull-left commenter">
                        <img src="
                        https://secure.gravatar.com/avatar/4299cdf21cf5f42944524f3975327e44?s=256&d=mm&r=pg
                        " alt="{{ comment.user.username }}" class="avatar avatar-50 wp-user-avatar wp-user-avatar-50 alignnone photo pic_50x50">
                    </div>
                    <!-- pull-left commenter -->
                    <div class="media-body comment_body">
                        <div class="comment_content_wrapper">
                    <h3>In <a href="{{comment.article.get_absolute_url}}">{{comment.article.title}}</a>:</h3>
                            <div class="media-heading clearfix"> <b class="commenter_name title">{{comment.user.first_name}} {{comment.user.last_name}}</b>
                                <div class="comment_info">
                                    <time datetime="">{{comment.timestamp|date:"j F, Y - P"}}</time>
                                </div>
                                <!-- comment_info -->
                            </div>
                            <!-- end media-heading -->
                            <p>{{comment.content|linebreaks}}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
                </ul>


                {% comment %} End user comments {% endcomment %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
