{% load static %}

<!-- site-footer -->
<footer class="site-footer">
  <!-- screen-reader-text for site footer section -->

  <h3 class="screen-reader-text">Site Footer</h3>

  <div class="footer_wrapper">
    <div class="container">
    
    <div class="first_footer widgets_footer row">
        <div id="first_footer_widget" class="widget_area ">
          <div
            id="about-the-blog"
            class="widget_container widget_content widget about-widget clearfix"

            style="padding: 0 10px;"
          >
            <h4 class="widget_title title">
              <span class="page_header_title">About the blog</span>
            </h4>

            <div class="asalah_about_me my_own_footer_content">
              
              {% comment %} <div class="author_image_wrapper default rounded">
                <img
                  class="img-responsive lazyload author_footer_image"
                  src="{% static 'images/Author.jpg' %}"
                  alt="About Me"
                />
              </div> {% endcomment %}

              <div class="author_text_wrapper">
                <p>
                  Hey there! This is a blog that I made for practice :) It might become a real blog, or it might not. 
                </p>
                <p>
                If it becomes real, I'll probably write a lot about books, programming, lanugages, fitness, and the world.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    
    {% comment %}
      <div class="first_footer widgets_footer row">
        <div id="first_footer_widget" class="widget_area col-md-4">
          <div
            id="about-the-blog"
            class="widget_container widget_content widget about-widget clearfix"
          >
            <h4 class="widget_title title">
              <span class="page_header_title">About the blog</span>
            </h4>

            <div class="asalah_about_me">
              <div class="author_image_wrapper default rounded">
                <img
                  class="img-responsive lazyload author_footer_image"
                  src="{% static 'images/Author.jpg' %}"
                  alt="About Me"
                />
              </div>

              <div class="author_text_wrapper">
                <p>
                  Hey there! This is a blog that I made for practice :) It might become a real blog, or it might not. 
                </p>
                <p>
                If it becomes real, I'll probably write a lot about books, programming, lanugages, fitness, and the world.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="second_footer_widget" class="widget_area col-md-4">
          <div
            id="text-4"
            class="widget_container widget_content widget widget_text clearfix"
          >
            <div class="textwidget">
              <div
                id="tweets-widget-6"
                class="widget_container widget_content widget asalah-tweets-widget clearfix"
              >
                <h4 class="widget_title title">
                  <span class="page_header_title">Tweets</span>
                </h4>
                <ul>
                  <li class="tweet-item">
                    <a
                      rel="nofollow noopener noreferrer"
                      target="_blank"
                      href=""
                      class="tweet_icon"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a
                      target="_blank"
                      class="tweet_name"
                      href=""
                      rel="noopener noreferrer"
                      >Bender Rodriguez</a
                    >
                    <span class="tweet_text"
                      >You know, this could've been actually connected to Twitter. How come it isn't? :O</span
                    >

                    <div class="tweet_control">
                      <a
                        rel="nofollow noopener noreferrer"
                        href=""
                        target="_blank"
                        class="tweet_time"
                      >
                        about 2 months ago</a
                      ><span class="tweet_links">
                        <a class="tweet_link tweet_link_reply" href=""
                          ><i class="fa fa-reply"></i
                        ></a>
                        <a class="tweet_link tweet_link_retweet" href=""
                          ><i class="fa fa-retweet"></i
                        ></a>
                        <a class="tweet_link tweet_link_retweet" href=""
                          ><i class="fa fa-star"></i></a
                      ></span>
                    </div>
                  </li>
                  <li class="tweet-item">
                    <a
                      rel="nofollow noopener noreferrer"
                      target="_blank"
                      href=""
                      class="tweet_icon"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a
                      target="_blank"
                      class="tweet_name"
                      href=""
                      rel="noopener noreferrer"
                      >Turanga Leela</a
                    >
                    <span class="tweet_text"
                      >Well, connecting it to a real Twitter feed may be a waste of time, especially since we don't actually have a Twitter account! 😅</span
                    >

                    <div class="tweet_control">
                      <a
                        rel="nofollow noopener noreferrer"
                        href=""
                        target="_blank"
                        class="tweet_time"
                      >
                        about 2 months ago</a
                      ><span class="tweet_links">
                        <a class="tweet_link tweet_link_reply" href=""
                          ><i class="fa fa-reply"></i
                        ></a>
                        <a class="tweet_link tweet_link_retweet" href=""
                          ><i class="fa fa-retweet"></i
                        ></a>
                        <a class="tweet_link tweet_link_retweet" href=""
                          ><i class="fa fa-star"></i></a
                      ></span>
                    </div>
                  </li>
                  <li class="tweet-item">
                    <a
                      rel="nofollow noopener noreferrer"
                      target="_blank"
                      href=""
                      class="tweet_icon"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a
                      target="_blank"
                      class="tweet_name"
                      href=""
                      rel="noopener noreferrer"
                      >Bender Rodriguez</a
                    >
                    <span class="tweet_text"
                      >Sooooooo, it's a project for the future? Or for me, Bender?</span
                    >

                    <div class="tweet_control">
                      <a
                        rel="nofollow noopener noreferrer"
                        href=""
                        target="_blank"
                        class="tweet_time"
                      >
                        about 1 month ago</a
                      ><span class="tweet_links">
                        <a class="tweet_link tweet_link_reply" href=""
                          ><i class="fa fa-reply"></i
                        ></a>
                        <a class="tweet_link tweet_link_retweet" href=""
                          ><i class="fa fa-retweet"></i
                        ></a>
                        <a class="tweet_link tweet_link_retweet" href=""
                          ><i class="fa fa-star"></i></a
                      ></span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="third_footer_widget" class="widget_area col-md-4">
          <div
            id="jr_insta_slider-2"
            class="widget_container widget_content widget jr-insta-slider clearfix"
          >
            <h4 class="widget_title title">
              <span class="page_header_title">Instagram</span>
            </h4>

            <div class="lazyload jr-insta-thumb">
              <ul id="list_2" class="no-bullet thumbnails jr_col_3"></ul>
            </div>
          </div>
        </div>
      </div> {% endcomment %}












      <!-- end first_footer -->

      <div class="second_footer has_first_footer row">
        <div class="col-md-12">
          <div class="second_footer_content_wrapper footer_credits">
            © {% now "Y" %} Dexter Sibirtsev. Made with <img class="pic_height20" src="https://i.imgur.com/3woPIFn.png" alt="Django Python web framework"/>. All Rights Reserved.
          </div>

          <!-- end second_footer_content_wrapper -->
        </div>

        <!-- end col-md-12 -->
      </div>

      <!-- end second_footer -->
    </div>

    <!-- end footer .container -->
  </div>

  <!-- end footer_wrapper -->
</footer>
<!-- .site-footer -->
