{% load static %}

<!-- site-footer -->
<footer class="site-footer">
  <!-- screen-reader-text for site footer section -->

  <h3 class="screen-reader-text">Site Footer</h3>

  <div class="footer_wrapper">
    <div class="container">
      <div class="first_footer widgets_footer row">
        <div id="first_footer_widget" class="widget_area col-md-4">
          <div
            id="about-widget-3"
            class="widget_container widget_content widget about-widget clearfix"
          >
            <h4 class="widget_title title">
              <span class="page_header_title">About Me</span>
            </h4>

            <div class="asalah_about_me">
              <div class="author_image_wrapper default rounded">
                <img
                  class="img-responsive lazyload "
                  src="{% static 'images/Author.jpg' %}"
                  alt="About Me"
                />
              </div>

              <div class="author_text_wrapper">
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="second_footer_widget" class="widget_area col-md-4">
          <div
            id="text-4"
            class="widget_container widget_content widget widget_text clearfix"
          >
            <div class="textwidget">
              <div
                id="tweets-widget-6"
                class="widget_container widget_content widget asalah-tweets-widget clearfix"
              >
                <h4 class="widget_title title">
                  <span class="page_header_title">Tweets</span>
                </h4>
                <ul>
                  <li class="tweet-item">
                    <a
                      rel="nofollow noopener noreferrer"
                      target="_blank"
                      href=""
                      class="tweet_icon"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a
                      target="_blank"
                      class="tweet_name"
                      href=""
                      rel="noopener noreferrer"
                      >Johnny Works</a
                    >
                    <span class="tweet_text"
                      >@AppleSupport If you need to know the version number, its
                      9.2.1 (13D15)</span
                    >

                    <div class="tweet_control">
                      <a
                        rel="nofollow noopener noreferrer"
                        href=""
                        target="_blank"
                        class="tweet_time"
                      >
                        about 2 months ago</a
                      ><span class="tweet_links">
                        <a class="tweet_link tweet_link_reply" href=""
                          ><i class="fa fa-reply"></i
                        ></a>
                        <a class="tweet_link tweet_link_retweet" href=""
                          ><i class="fa fa-retweet"></i
                        ></a>
                        <a class="tweet_link tweet_link_retweet" href=""
                          ><i class="fa fa-star"></i></a
                      ></span>
                    </div>
                  </li>
                  <li class="tweet-item">
                    <a
                      rel="nofollow noopener noreferrer"
                      target="_blank"
                      href=""
                      class="tweet_icon"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a
                      target="_blank"
                      class="tweet_name"
                      href=""
                      rel="noopener noreferrer"
                      >Johnny Works</a
                    >
                    <span class="tweet_text"
                      >@AppleSupport My new 6 plus 64GB (24GB free) all apps
                      crash after minutes of using, even apple products, already
                      tried restart and reset</span
                    >

                    <div class="tweet_control">
                      <a
                        rel="nofollow noopener noreferrer"
                        href=""
                        target="_blank"
                        class="tweet_time"
                      >
                        about 2 months ago</a
                      ><span class="tweet_links">
                        <a class="tweet_link tweet_link_reply" href=""
                          ><i class="fa fa-reply"></i
                        ></a>
                        <a class="tweet_link tweet_link_retweet" href=""
                          ><i class="fa fa-retweet"></i
                        ></a>
                        <a class="tweet_link tweet_link_retweet" href=""
                          ><i class="fa fa-star"></i></a
                      ></span>
                    </div>
                  </li>
                  <li class="tweet-item">
                    <a
                      rel="nofollow noopener noreferrer"
                      target="_blank"
                      href=""
                      class="tweet_icon"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a
                      target="_blank"
                      class="tweet_name"
                      href=""
                      rel="noopener noreferrer"
                      >Johnny Works</a
                    >
                    <span class="tweet_text"
                      >@standupkid You are welcome, feel free to talk to us
                      anytime, have a nice day :)</span
                    >

                    <div class="tweet_control">
                      <a
                        rel="nofollow noopener noreferrer"
                        href=""
                        target="_blank"
                        class="tweet_time"
                      >
                        about 3 months ago</a
                      ><span class="tweet_links">
                        <a class="tweet_link tweet_link_reply" href=""
                          ><i class="fa fa-reply"></i
                        ></a>
                        <a class="tweet_link tweet_link_retweet" href=""
                          ><i class="fa fa-retweet"></i
                        ></a>
                        <a class="tweet_link tweet_link_retweet" href=""
                          ><i class="fa fa-star"></i></a
                      ></span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="third_footer_widget" class="widget_area col-md-4">
          <div
            id="jr_insta_slider-2"
            class="widget_container widget_content widget jr-insta-slider clearfix"
          >
            <h4 class="widget_title title">
              <span class="page_header_title">Instagram</span>
            </h4>

            <div class="lazyload jr-insta-thumb">
              <ul id="list_2" class="no-bullet thumbnails jr_col_3"></ul>
            </div>
          </div>
        </div>
      </div>

      <!-- end first_footer -->

      <div class="second_footer has_first_footer row">
        <div class="col-md-12">
          <div class="second_footer_content_wrapper footer_credits">
            © 2015 Writing Designs, INC. All Rights Reserved.
          </div>

          <!-- end second_footer_content_wrapper -->
        </div>

        <!-- end col-md-12 -->
      </div>

      <!-- end second_footer -->
    </div>

    <!-- end footer .container -->
  </div>

  <!-- end footer_wrapper -->
</footer>
<!-- .site-footer -->
