{% extends 'base.html' %}

{% block title %}Home | {% endblock title %}

{% load static %}

{% block content %}
<div id="page" class="hfeed site">
    <!-- start site main container -->
    <div class="site_main_container">

        <!-- start stie content -->
        <section id="content" class="site_content">
            <div class="container">
                <div class="row">
                    <!-- Title screen-reader-text -->
                    <h4 class="page-title screen-reader-text">Blog Posts</h4>
                    <main class="main_content col-md-12">
                        <div class="blog_posts_wrapper blog_posts_list clearfix  asalah_blog_global_setting banners_blog_style narrow_content_width">
                        <h1>Latest posts</h1>

                        {% for article in object_list %}
                            <article id="post-74" class="blog_post_container post-74 post type-post status-publish format-image has-post-thumbnail hentry category-images-posts category-life-style tag-people post_format-post-format-image">
                                <div class="blog_post clearfix">
                                    <div class="posts_list_wrapper clearfix">
                                        <div class="post_thumbnail_wrapper">
                                            <div class="blog_post_banner blog_post_image">
                                                <a href="{{ article.get_absolute_url }}" title="{{article.title}}"><img style="width:800px; height:400px" src="{{article.thumbnail.url}}" class="img-responsive  wp-post-image lazyloaded" alt="{{article.title}}" ></a>
                                            </div>
                                        </div>
                                        <!-- end post_thumbnail_wrapper -->
                                        <div class="post_info_wrapper">
                                            <!-- use this wrapper in list style only to group all info far from thumbnail wrapper -->
                                            <div class="blog_post_title">
                                                <h2 class="entry-title title post_title"><a href="{{ article.get_absolute_url }}" rel="bookmark">{{article.title}}</a></h2></div>
                                            <!-- end blog_post_title -->
                                            <div class="blog_post_meta clearfix"> 
                                            
                                            {% comment %} <span class="blog_meta_item blog_meta_format entry_format"><a href="{{ article.get_absolute_url }}"><i class="fa fa-heart"></i></a></span> {% endcomment %}
                                            
                                            <span class="blog_meta_item blog_meta_category">In 
                                            
                                            {% for category in article.categories.all %}
                                            <a href="/search/?category_q={{category.title}}" rel="category tag">{{ category.title }}</a>;
                                            {% endfor %}
                                            
                                            </span><span class="blog_meta_item blog_meta_tags">Tags 
                                            
                                            {% for tag in article.tags.all %}
                                            <a href="/search/?tag_q={{tag.title}}" rel="tag">{{tag.title}}</a>; 
                                            {% endfor %}
                                            
                                            </span><span class="blog_meta_item blog_meta_date"><span class="screen-reader-text"></span>
                                                <time class="entry-date published updated" datetime="{{ article.timestamp|date:"Y-m-d H:i" }}">{{article.timestamp|timesince}} ago</time>
                                                </span><span class="blog_meta_item blog_meta_comments"><a href="{{article.get_absolute_url}}#comments">{{article.comments.count}} Comment{{article.comments.count|pluralize}}</a></span><span class="blog_meta_item blog_meta_author"><span class="author vcard"><a class="meta_author_avatar_url pic_25x25" href="{{ article.get_absolute_url }}#author-info"><img src="{{ article.author.profile_picture.url }}" alt="{{ article.author.name }}" class="avatar avatar-25 wp-user-avatar wp-user-avatar-25 alignnone photo"></a> <a class="url fn n" href="{{ article.get_absolute_url }}#author-info"">{{ article.author.name}}</a></span></span>
                                            </div>
                                            <div class="entry-content blog_post_text blog_post_description">
                                                <!-- Start entry-content div -->
                                                <p>{{article.overview}}<a href="" class="more_link more_link_dots"> … </a></p>
                                            </div>
                                            <!-- end entry-content div -->
                                            <div class="blog_post_control clearfix">
                                                <div class="blog_post_control_item blog_post_readmore"> <a href="{{ article.get_absolute_url }}" class="read_more_link">Continue Reading</a></div>
                                                <!-- end .blog_post_readmore -->
                                                <div class="blog_post_control_item blog_post_share"> 
                                                    <span class="share_item share_sign"><i class="fa fa-share "></i></span>
                                                    {% comment %} Facebook share {% endcomment %}
                                                    <span class="social_share_item_wrapper">
                                                        <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u={{ article.get_absolute_url }}" class="share_item share_item_social share_facebook" ><i class="fa fa-facebook"></i></a>
                                                    </span> 
                                                    {% comment %} Twitter share {% endcomment %}
                                                    <span class="social_share_item_wrapper">
                                                        <a rel="nofollow" href="https://twitter.com/intent/tweet?text=Check%20out%20this%20%23cool%20article%20from%20%40DextersBlog%20{{ article.get_absolute_url }}" target="_blank" class="share_item share_item_social share_twitter"><i class="fa fa-twitter"></i></a>
                                                    </span> 
                                                    {% comment %} LinkedIn share {% endcomment %}
                                                    <span class="social_share_item_wrapper">
                                                        <a rel="nofollow" href="https://www.linkedin.com/shareArticle?mini=true&url={{ article.get_absolute_url }}&title={{ article.title }}" target="_blank" class="share_item share_item_social share_linkedin"><i class="fa fa-linkedin"></i></a>
                                                    </span> 
                                                    {% comment %} Pinterest share {% endcomment %}
                                                    <span class="social_share_item_wrapper">
                                                        <a rel="nofollow" href="http://pinterest.com/pin/create/button/?url={{ article.get_absolute_url }}&description=" class="share_item share_item_social share_pinterest" target="_blank" ><i class="fa fa-pinterest"></i></a>
                                                    </span>
                                                </div>
                                                <!-- blog_post_control_item blog_post_share -->
                                            </div>
                                            <!-- end blog_post_control -->
                                        </div>
                                        <!-- .post_info_wrapper close post_info_wrapper in cas of list style-->
                                    </div>
                                    <!-- .posts_list_wrapper -->
                                </div>
                                <!-- end blog_post -->
                            </article>
                        
                        {% endfor %}

                            <!-- end #post-## blog_post_container-->
                        </div>
                        <!-- .blog_posts_wrapper -->
                        <nav class="navigation pagination" role="navigation"
                        style="display: flex; justify-content: center">
                            <h2 class="screen-reader-text">Browse posts</h2>
                            
                            <div class="blog_post_control_item view_all_posts_button ">
                                <a href="browse" class="read_more_link">View all posts</a>
                            </div>

                        </nav>
                    </main>
                    <!-- .main_content -->
                </div>
                <!-- .row -->
            </div>
            <!-- .container -->
        </section>
        <!-- #content .site_content -->

    </div>
    <!-- .site_main_container -->

</div>
<!-- end site side container .site_side_container -->

<!-- #page .site -->

{% endblock content %}
  


