{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="page" class="hfeed site">
    <!-- start site main container -->
    <div class="site_main_container">

        <!-- start stie content -->
        <section id="content" class="site_content">
            <div class="container" style="width: 95vw">
                
                    <!-- Title screen-reader-text -->
                    <h4 class="page-title screen-reader-text">Search results</h4>


<main class="main_content col-md-12">

    {% comment %} <h1>Results</h1> {% endcomment %}

    <!-- For Page Pagination -->
    <div class="blog_posts_wrapper blog_posts_list clearfix  masonry_blog_style narrow_content_width wp-block-columns" >


        {% for article in search_results %}

        <article id="" class="blog_post_container post type-post status-publish format-image has-post-thumbnail hentry category-images-posts category-life-style tag-people post_format-post-format-image" >
            <div class="blog_post clearfix">
                <div class="blog_post_banner blog_post_image">
                    <a href="{{ article.get_absolute_url }}" title="{{article.title}}"><img style="width:293px; height:199px" src="{{article.thumbnail.url}}" class="img-responsive  wp-post-image lazyloaded" alt=""></a>
                </div>
                <div class="blog_post_title">
                    <h2 class="entry-title title post_title"><a href="{{ article.get_absolute_url }}" rel="bookmark">{{article.title}}</a></h2></div>
                <!-- end blog_post_title -->
                <div class="blog_post_meta clearfix"> <span class="blog_meta_item blog_meta_format entry_format"><a href=""><i class="fa fa-camera-retro"></i></a></span><span class="blog_meta_item blog_meta_category">In 
                
                {% for category in article.categories.all %}
                <a href="" rel="category tag">{{ category.title }}</a>;
                {% endfor %}
                
                </span><span class="blog_meta_item blog_meta_tags">Tags 
                
                {% for tag in article.tags.all %}
                <a href="" rel="tag">{{tag.title}}</a>; 
                {% endfor %}

                </span><span class="blog_meta_item blog_meta_date"><span class="screen-reader-text"></span>
                    <time class="entry-date published updated" datetime="{{ article.timestamp|date:"Y-m-d H:i" }}">{{article.timestamp|timesince}} ago</time>
                    </span><span class="blog_meta_item blog_meta_comments"><a href="">{{article.comment_count}} Comments</a></span><span class="blog_meta_item blog_meta_author"><span class="author vcard"><a class="meta_author_avatar_url" href=""><img src="" style="width:25px; height:25px" alt="" class="avatar avatar-25 wp-user-avatar wp-user-avatar-25 alignnone photo"></a> <a class="url fn n" href="">John Doe</a></span></span>
                </div>
                <div class="entry-content blog_post_text blog_post_description">
                    <!-- Start entry-content div -->
                    <p>{{article.overview}}<a href="{{ article.get_absolute_url }}" class="more_link more_link_dots"> … </a></p>
                </div>
                <!-- end entry-content div -->
                <div class="blog_post_control clearfix">
                    <div class="blog_post_control_item blog_post_readmore"> <a href="{{ article.get_absolute_url }}" class="read_more_link">Continue Reading</a></div>
                    <!-- end .blog_post_readmore -->
                </div>
                <!-- end blog_post_control -->
            </div>
            <!-- end blog_post -->
        </article>
        <!-- end #post-## blog_post_container-->
        
        <!-- end #post-## blog_post_container-->

        {% endfor %}

    </main>
    <!-- .blog_posts_wrapper -->
    <nav class="navigation pagination" role="navigation">
        <h2 class="screen-reader-text">Posts navigation</h2>
        <div class="nav-links">
        
        {% if search_results.has_previous %}
        <a class="next" href="?{{ page_request_variable }}=1"><i class="fa fa-angle-double-left"></i></a>
        
        <a class="next" href="?{{ page_request_variable }}={{ search_results.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
        
        {% if search_results.number > 2 %}
        <span>...</span>
        {% endif %}

        <a class="page-numbers" href="?{{ page_request_variable }}={{ search_results.previous_page_number }}">{{search_results.previous_page_number}}</a>
        {% endif %} 

        {% if search_results.has_next or search_results.has_previous %}
        <span aria-current="page" class="page-numbers current">{{search_results.number}}</span> 
        {% else %} 
        <span aria-current="page" class="page-numbers current">1</span>
        {% endif %} 
        
        {% if search_results.has_next %}
        <a class="page-numbers" href="?{{ page_request_variable }}={{ search_results.next_page_number }}">{{search_results.next_page_number}}</a>

        {% if search_results.paginator.num_pages > search_results.next_page_number %}
        <span>...</span>
        {% endif %}
        
        <a class="next" href="?{{ page_request_variable }}={{ search_results.next_page_number }}"><i class="fa fa-angle-right"></i></a>
        
        <a class="next" href="?{{ page_request_variable }}={{ search_results.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a>
        
        {% endif %} 
        </div>
    </nav>
</main>


</div>
</section>
</div>
</div>

{% endblock content %}